.course-header-row {
  display: flex;
  justify-content: space-between;

  padding: 0 20px 12px;

  color: rgba(255, 255, 255, 0.7);

  font-weight: 600;
}

.course-header-row p {
  flex: 1;
  text-align: center;
  margin: 0;
}

.course-header-row p:first-child {
  flex: 2;
  text-align: left;
}